# Python
__pycache__/
*.pyc
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# ML artifacts
models/
checkpoints/
*.onnx
*.pt
*.pth
*.engine

# Triton
model_repository/
*.log

# Kubernetes / Helm
*.tmp
*.swp

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# OS
.DS_Store
